body{
    background-color: darkslategrey;
}

img{
    width: 350px;
    height: 350px;
}

/* CENTERING THE BULB USING FLEX & GRID*/
/* note, I gave the div around my img the id "bulb" */
#bulb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

/* Center the botton using switch div */
#switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

#paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* STYLING MY BUTTON CLASS */
.btn{
    border-radius: 1rem;
    height: 100px;
    margin: 3rem;
    padding: 2rem;
    vertical-align: middle;
    background-color: grey;
    font-weight: bold;
    }
.white{
    background-color: whitesmoke;
    font-size: larger;
}

p{
   font-size: 45px;
}